$right-side-width: 120px;

body {
  padding-top: 4px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #b94a48;
}

#type-options, #sort-options, #amount-options, #year-options {
  display: block;
  padding: 20px 0;
}

.year {
  width: $right-side-width;
  float: right;
  text-align: center;

  span {
    font-size: 15px;
  }
}

input[type=number], input[type=text], select {
  width: $right-side-width;
  float: right;
}

#year-options {
  margin-bottom: 10px;
}

#years {
  width: 300px;
  height: 34px;
}

span {
  display: inline-block;
}

label {
  font-size: 17px;
}

#save-block {
  float: right;
  margin-bottom: 14px;

  #save {
    width: 100px;
    height: 30px;
  }
}